.content {
    margin:4px, 4px;
    padding-left: 4px;
    background-color: white;
    width: 500px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.body {
    padding-left: 400px;
    padding-top: 100px;
}